.movie_detainer_container {
  width: 90%;
}
.posterImage {
  height: 250px;
  width: 210px;
  border-radius: 10px;
}
.card_background {
  background: #3a3838;
  border-radius: 10px;
}

.cast_image_height {
  height: 250px;
}

@media screen and (min-width: 768spx) {
  .posterImage {
    width: 200px;
  }
}
